.header {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  width: 100%;
  position: absolute;
  top: 0;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .wrapper .logo {
  font-size: 36px;
  font-weight: 700;
}

.header .wrapper .header_right {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.header,
.wrapper .header_right .nav_list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 20px;
}
