.home {
  color: #ffffff;
}

.home h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.home h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0 8px 0;
}

.home h2 span {
  padding-bottom: 6px;
  border-bottom: 2px solid #ff0000;
}

.home .icons_container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 40px;
}

.home .icons_container .icons_wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s linear;
}

.home .icons_container .icons_wrapper:hover {
  background: rgba(255, 255, 255, 0.397);
}